style.
    * {
    margin: 0;
    padding: 0;
    border: 0;
    }

    body {
    font-family: Arial, Helvetica, sans-serif;
    }

    .container {
    width: 99.9%;
    height: 100%;
    display: block;
    margin: 25px auto 25px auto;
    background-color: white;
    /*border: 1px solid black;*/
    position: relative;

    }

    .container-secundario {
    width: 99.9% !important;
    height: 100$ !important;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    /*
    top: 10%;
    left: 10%;  */
    transform: translate(-50%, -50%); 
    }

    /* CONTAINER LOGO */
    .container .container-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    //- background-color: rgb(255, 255, 255);
    }

    .tam1 {
        width: 135px;
        height: 65px;
        //- background: red;
        //- border: 1px solid black;
    }

    .tam2 {
        width: 135px;
        height: 65px;
        //- background: red;
        margin-left: 50.96%;
        //- border: 1px solid black;
    }

    .logo {
    width: 100%;
    height: 80%;
    object-fit: cover;
    }

    /* CONTAINER TITLE */
    .container-title {
    background-color: rgb(255, 255, 255);
    }

    .title-principal {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 10px;
    }

    /* CONTAINER TRABAJADOR */
    .container-trabajador {
    background-color: rgb(255, 255, 255);
    }

    .container-trabajador .title-trabajador {
    color: white;
    text-align: center;
    background-color: black;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-size: 8px;    
    }

    .container-trabajador .nombre {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-bottom: none;
    font-size: 8px;    
    }

    .container-trabajador p {
    color: black;
    font-size: 7px;
    margin-left: 3px;
    }

    .datos-nombre {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    font-size: 8px;    
    }

    .datos-nombre h4 {
    text-transform: uppercase;
    padding-top: 1.5%;
    margin-left: 3px;
    padding-bottom: 0.5%;
    }

    .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section .curp {
    width: 50%;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    }

    .section .curp p {
    margin-left: 3px;
    padding: 0.3% 0 0.3% 0;
    }

    .section .ocupacion {
    width: 49.4%;
    border: 1px solid black;

    border-right: 1px solid black;
    border-bottom: none;
    
    }

    .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .datos-curp {
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    //- border: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: none; 
    }

    .section2 .datos-curp .dato {
    font-size: 8px;    
    text-transform: uppercase;
    width: 5.24%;
    padding: 3px 0 3px 0;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-bottom: none;
    border-left: none;
    }

    .section2 .datos-curp .ultimo-dato {
    border-right: none;
    }

    .datos-ocupacion {
    width: 49.4%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    font-style: normal;
    }

    .datos-ocupacion h4 {
    font-size: 8px;    
    text-align: center;
    padding-top: 8px;
    text-transform: uppercase;
    }

    .puesto {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-bottom: none;
    font-style: normal;
    }

    .datos-puesto {
    background-color: rgb(255, 255, 255);
    padding-top: 1.2%;
    padding-bottom: 0.5%;
    border: 1px solid black;
    border-top: none;
    }

    .datos-puesto h4 {
    text-transform: uppercase;
    margin-left: 3px;
    font-size: 8px;    
    }

    /* CONTAINER DIV EMPRESA */

    .container-empresa .title-empresa {
    color: white;
    text-align: center;
    background-color: black;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-size: 8px;    
    margin-top: 18px;
    }

    .razon-social {
    border: 1px solid black;
    border-bottom: none;
    }

    .razon-social p {
    margin-left: 3px;
    font-size: 7px;
    }

    .datos-razon-social {
    border: 1px solid black;
    border-top: none;
    padding-top: 1.5%;
    }

    .datos-razon-social h4 {
    margin-left: 3px;
    font-size: 8px;    
    }

    .shcp {
    border: 1px solid black;
    border-top: none;
    }

    .shcp p {
    margin-left: 3px;
    padding: 0.1% 0 0.1% 0;
    font-size: 7px;
    }

    .datos-shcp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    }

    .dato-shcp {
    width: 19.6px;
    text-align: center;
    padding: 0.3% 0 0.3% 0;
    border: 1px solid black;
    border-right: 0;
    border-top: none;
    border-bottom: none;
    font-size: 8px;    
    }

    .ultimo-dato-shcp {
    border-right: 1px solid black;
    }

    /* PROGRAMA CAPACITACIÓN */

    .container-capacitacion .title-capacitacion {
    color: white;
    text-align: center;
    background-color: black;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-size: 8px;    
    margin-top: 18px;
    }

    .nombre-curso {
    border: 1px solid black;
    border-bottom: none;
    }

    .nombre-curso p {
    margin-left: 3px;
    font-size: 7px;
    }

    .dato-curso {
    border: 1px solid black;
    border-top: none;
    }

    .dato-curso p {
    margin-left: 3px;
    padding: 0.5% 0 0.5% 0;
    }

    .dato-curso span {
    font-size: 8px;    
    font-weight: bold;
    text-transform: uppercase;
    }

    .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section3 .horas {
    width: 20%;
    border: 1px solid black;
    border-top: none;
    }

    .section3 .horas .duracion p {
    margin-left: 3px;
    font-size: 7px;
    }

    .section3 .horas .dato-duracion h4 {
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    font-size: 8px;    
    }

    .section3 .periodo {
    width: 20%;
    padding: 8px 0 0 0;
    position: relative;
    border-bottom: 1px solid black; 
    }

    .section3 .periodo p {
    margin-left: 3px;
    position: absolute;
    /*top: 50%;*/
    left: 10%;
    rigth: 13%;
    transform: translate(-50%, -50%);
    font-size: 7px;
    }

    .section3 .fecha1 {
    /*width: 27.5%;*/
    //- width: 30.6%;
    width: 29.5%;
    border-bottom: 1px solid black;
    border-rigth: 1px solid black;
    font-size: 8px;    
    }

    .section3 .fecha1 .title-fecha1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section3 .fecha1 .title-fecha1 .title {
    width: 30.6%;
    text-align: center;
    //- border: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: none;
    }

    .ultimo-titulo{
        border-right: 1px solid black;
    }

    .section3 .fecha1 .campos-fecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15px;
    border-left: 1px solid black;
    }

    .section3 .fecha1 .campos-fecha .dato-anio {
    width: 7.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
     .section3 .fecha1 .campos-fecha .dato-anio h4{
            padding: 10% 0 0 0;

    }

    .section3 .fecha1 .campos-fecha .dato-mes {
    width: 15.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section3 .fecha1 .campos-fecha .dato-dia {
    width: 15.1%;
    display: -webkit-box;
    display: -ms-flexbox !important;
    display: flex;
    }

    .section3 .fecha1 .campos-fecha .dato {
    width: 100%;
    padding: 10% 0 0 0;
    text-align: center;
    //- border-left: 1px solid black;
    border-right: 1px solid black;
    }

    .section3 .separacion {
    width: 2.5%;
    text-align: left;
    border-bottom: 1px solid black;
    }
    .section3 .separacion p {
    padding: 40% 0 0 0;
    margin-top: 18px;
    font-size: 8px
   
    }
    
    .tematica-curso .tematica {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    }

    .tematica-curso .tematica p {
    margin-left: 3px;
    padding-top: 3px;
    font-size: 7px;    
    }

    .tematica-curso .dato-tematica {
    border: 1px solid black;
    border-top: none;
    }

    .tematica-curso .dato-tematica h4 {
    margin-left: 3px;    
    text-transform: uppercase;
    padding: 0.5% 0 0.5% 0;
    font-size: 8px;
    }

    .capacitador .agente {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    }

    .capacitador .agente p {
    margin-left: 3px;
    font-size: 7px;    
    }

    .capacitador .dato-agente {
    border: 1px solid black;
    border-top: none;
    }

    .capacitador .dato-agente h4 {
    margin-left: 3px;
    padding: 0.5% 0 0.5% 0;
    font-size: 8px;    
    }

    .capacitador .dato-agente span {
    text-transform: uppercase;
    }

    /* FIRMAS */

    .firmas {
    border: 1px solid black;
    margin-top: 18px;
    }

    .info {
    width: 90%;
    display: block;
    margin: auto;
    }

    .firmas .info p {
    text-align: center;
    font-weight: bold;
    font-size: 7px;
    padding-top: 0.5%;
    }

    .jefes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2%;
    text-align: center;
    font-size: 7px;
    }

    .instructor {
    width: 33.3%;
    }

    .patron {
    width: 33.33%;
    }

    .representante {
    width: 33.33%;
    }

    .firmas-imagen {
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 60px 0 57px;    
    }

    .firma-instructor img {
    display: block;
    margin: auto;
    width: 75px;
    height: 35px;
    //- border: 1px solid black;
    }

    .firma-patron {
    padding: 0 60px 0 117px;    
    }

    .firma-patron img {
    display: block;
    margin: auto;
    width: 75px;
    height: 35px;
    //- padding: 0 60px 0 117px;
    //- border: 1px solid black;
    }

    .firma-representante img {
    display: block;
    margin: auto;
    width: 75px;
    height: 35px;
    padding: 0 60px 0 57px;
    //- border: 1px solid black;
    }

    .section-datos-firma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 7px;
    }

    .section-datos-firma .dato-instructor {
    width: 33.33%;
    text-align: center;
    text-transform: uppercase;
    }

    .linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 90%;
    padding: 0;
    margin: 0px auto 0 auto;
    }

    .section-datos-firma .dato-patron {
    width: 33.33%;
    text-align: center;
    text-transform: uppercase;
    }

    .section-datos-firma .dato-representante {
    width: 33.33%;
    text-align: center;
        text-transform: uppercase;
    }

    .section-nombre-firma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0.5% 0;
    font-size: 7px;
    }

    .section-nombre-firma .nombre-firma-instructor {
    width: 33.33%;
    text-align: center;
    }

    .section-nombre-firma .nombre-firma-patron {
    width: 33.33%;
    text-align: center;
    }

    .section-nombre-firma .nombre-firma-representante {
    width: 33.33%;
    text-align: center;
    }

    /* INSTRUCCIONES */

    .instrucciones {
    margin-top: 5px;
    }

    .instrucciones p {
    font-size: 7px;
    }

    .instrucciones h4 {
    padding: 0.5% 0 0.5% 0;
    font-size: 8px;    
    }

    .anverso{
     float: right; 
     margin-right:45px;
    }

    .anverso p {
        font-size: 8px;    
        }